* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: Arial;
    background-color: #ffd0fd;
    padding: 50px;
}

#login {
    margin: 20px auto;
    width: 300px;
}

#login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

#login-header {
    text-align: center;
    color: #777;
}

#login-form {
    text-align: center;
}

#login-error {
    color: red;
}

.login-field {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #ffa0fc;
    box-shadow: none;
}

#login-button {
    border: 2px solid transparent;
    background: #ffa0fc;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

#login-button:hover {
    background-color: #ffa0fc;
}

#list {
    margin: 20px auto;
    width: 1000px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#list-screen {
    background-color: #FFF;
    padding: 50px 100px;
    border-radius: 25px
}

#list-header {
    text-align: center;
    color: #777;
    margin-bottom: 60px;
}

#list-content {
    counter-reset: index;
    font-size: 15px;
}

.list-item {
    counter-increment: index;
    display: flex;
    padding: 2px 0;
    box-sizing: border-box;
}

.list-item::before {
    content: counters(index, ".") ".";
    font-weight: bold;
    min-width: 30px;
    padding-right: 15px;
    text-align: right;
    background-image: linear-gradient(to bottom, rgb(219, 127, 255), rgb(255, 0, 0));
    background-attachment: fixed;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}